.uber-button{
    background-color: black;
    color: white;
    height: 45px;
    width: 145px;
    font-size: 15;
    border: none;
    cursor: pointer;
}
.amazon-button{
    background-color: rgb(255,216,20);
    color: black;
    border: none;
    font-size: 18;
    height: 45px;
    width: 200px;
    border-radius: 23px;
    cursor: pointer;
}
.github-button{
    background-color: rgb(46,164,79);
    color:white;
    border:none;
    font-weight: bold;
    font-size: 18;
    height: 48px;
    width: 125px;
    border-radius: 8px;
    cursor:pointer;
}
.bootstrap-button1{
    background-color: rgb(121,82,179);
    color: white;
    border: none;
    height: 48px;
    width: 140px;
    font-size: 16;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 10px;
}
.bootstrap-button2{
    background-color: white;
    color:rgb(108,117,125);
    border-color: rgb(108,117,125);
    border-style: solid;
    border-width: thin;
    height: 48px;
    width: 140px;
    font-size: 16;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
}
.linkedIn-button1{
    background-color: rgb(10,102,194);
    color:white;
    border: none;
    height: 48px;
    width: 290px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    margin-right: 10px;
}
.linkedIn-button2{
    border-color: rgb(10,102,194);
    background-color: white;
    color:rgb(10,102,194);
    border-style: solid;
    border-width: thin;
    height: 48px;
    width: 110px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    margin-right: 10px;
}
.header{
   color:rgb(0,113,133);
   font-size: 18;
}
.title{
    color:black;
    font-size: 25;
    margin-top: 25;
    margin-bottom: 25px;
    font-weight: bold;
}
.price{
    color: rgb(0,118,0);
    font-weight:bold;
    font-size:18;
}
.description{
    font-size: 18;

}
.amazon-button1{
    background-color: rgb(255,216,20);
    color: black;
    border: none;
    font-size: 18;
    height: 35px;
    width: 140px;
    border-radius: 23px;
    cursor: pointer;
    margin-right: 10px;
}
.amazon-button2{
    background-color: rgb(255,164,28);
    color: black;
    border: none;
    font-size: 18;
    height: 35px;
    width: 140px;
    border-radius: 23px;
    cursor: pointer;
}